{% extends "base.html" %}


{% block content %}
    {% if all_clubs %}
        <div class="container">
            <h2 >All Clubs</h2>
            {% for club in all_clubs %}
                <div class="col-md-4" style="margin-bottom: 25px;">
                    <div class="club-card">
                        <img class="club-logo" src="http://lorempixel.com/200/200/" alt="Logo">
                        <a class="club-name" href="{% url 'club_detail' club.id  %}">{{ club.Club_Name }}</a>
                        <span class="seperator"></span>
                        <h4>University</h4>
                        <span>{{ club.University }}</span>
                        <h4>Chairman</h4>
                        <span>{{ club.Chairman }}</span>
                        <h4>E-mail</h4>
                        <span>{{ club.Club_email }}</span>
                    </div>
                </div>
            {% endfor  %}
        </div>
    {% else %}
        <h2>There is no Club</h2>
    {% endif %}
{% endblock %}